@import url("https://use.fontawesome.com/releases/v6.4.0/css/all.css");

html {
    scroll-behavior: smooth;
    background-color: #f4f2ee;
}

body {
    font-family: monospace, sans-serif;
    margin: 0;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
}

a {
    color: #ffffff;
    text-decoration: none !important;
}


button {
    cursor: pointer;
}

input, section, textarea {
    outline: none;
}