.search {
    display: flex;
    justify-content: center;
}

.searchBox {
    margin: 50px;
    padding: 7px;
    font-size: 25px;
    border: 2px solid white;
    border-radius: 50px;
}

.searchBox select {
    width: 140px;
    margin: 5px;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
}

.searchBox input {
    width: 22em;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
}

.searchBox i {
    padding: 15px;
}

.searchBox button {
    cursor: pointer;
    border-radius: 20px;
    background-color: red;
    color: white;
    font-size: 20px;
}

.searchBox button:hover {
    background-color: white;
    color: red;
}

.searchBox ::placeholder {
    text-align: center;
}