/* Profile Information */

.userProfile {
    background-image: linear-gradient(gold, white);
    padding: 2em;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "profileImg information"
    "createBtn information";
}

.userProfile img {
    grid-area: profileImg;
    width: 12em;
    height: auto;
    border: 5px solid gold;
    border-radius: 20px;
}

.createBtn {
    grid-area: createBtn;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    width: 10em;
    font-size: 1.2em;
    padding: 0.4em;
    margin-top: 1em;
}

.createBtn:hover {
    background-color: white;
    color: red;
    border-color: red;
}

.userProfile ul {
    grid-area: information;
    list-style: none;
}


.userProfile span {
    color: rgb(255, 0, 0);
}

.userProfile hr {
    margin-bottom: 50px;
    border-bottom: 1px solid white;
}

/* Profile Information  End */

/* User Games */

.list {
    text-align: center;
    font-style: italic;
    font-size: 3em;
}

.userGames {
    padding: 4rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.noGames {
    border: 5px gold double;
    width: 75%;
    height: auto;
    min-width: 100px;
    border-top-right-radius: 80px;
}

/* Games */

.userGames img {
    width: 12rem;
    height: 13rem;
    transition: 1s ease;
    border-radius: 20px;
}

.userGames img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.gameBtnEdit {
    font-size: 1rem;
    border: #fff solid 1px;
    border-radius: 4px;
    background-color: #029502;
    padding: 1rem;
    display: inline-block;
    margin-right: 1rem;
    width: 3rem;
}

.gameBtnEdit:hover {
    background-color: #029502;
    border: #029502 solid 1px;
    color: #fff;
}

.gameBtnDelete {
    font-size: 1rem;
    border: #fff solid 1px;
    background-color: #ff0000;
    border-radius: 5px;
    padding: 1rem;
    color: white;
    font-style: italic;
}

.gameBtnDelete:hover {
    background-color: #ff0000;
    border: #ff0000 solid 1px;
    color: #fff;
}

/* User Games End */