.game {
    background-size: cover;
    background-position: center;
}

.gameInfo {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #b1b0b0b7;
    height: 90vh;
}

.gameInfo img {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 2px solid gold;
}

.gameInfo ul{
    width: 60vw;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    gap: 1rem;
    background-color: #b1b0b0e2;
    border: 2px solid gold;
}

.gameInfo li {
    font-size: 1.6rem;
    color: gold;
}

.gameInfo span {
    color:black;
}

.commentLinkIcon i {
    color: rgba(0, 0, 0, 0.356);
    position: fixed;
    font-size: 2.5rem;
    top: 7rem;
    right: 3rem;
}

.commentsInfo {
    border-top: 2px solid gold;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    background: #1b1f24;
}

.userSection {
    border-bottom: 2px solid gold;
    background-color: rgb(255, 94, 0);
}

.userSection img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.userSection h3 {
    display: inline-block;
    font-size: 28px;
    line-height: 50px;
    font-weight: 500;
    color: black;
}

.userSection p {
    display: inline-block;
    margin: 0 30px;
    line-height: 50px;
}

.commentForm { 
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.commentForm textarea {
    width: 1000px;
    border-radius: 0px;
    border-bottom: 2px solid gold;
}

.send {
    font-size: 16px;
    border: #000 solid 1px;
    background-color: #ff0303;
    border-radius: 10px;
    color: #fff;
    padding: 10px 50px;
    cursor: pointer;
    margin: 20px;
}

.send:hover {
    background-color: #fff;
    border: #fff solid 1px;
    color: #f00;
}

.commentContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 50px;
}