.details {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.details h1 {
    text-align: center;
    font-weight: 500;
    line-height: 50px;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 52px;
}

.detailsInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;

    border: 2px solid gold;
    border-radius: 20px;
    background-color: #b1b0b0a5;
    padding: 40px;
}

.detailsInfo img {
    width: 400px;
    height: 400px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 2px solid gold;
}

.gameInfo {
   display: flex;
   flex-flow: column wrap;
   width: 500px;
}

.gameInfo p {
    font-size: 25px;
    font-weight: 400;
    color: gold;
}

.commentForm {
    margin: 50px;
    width: 800px;
}

.commentForm textarea {
    width: 800px;
}

.send {
    font-size: 16px;
    border: #000 solid 1px;
    background-color: #ff0303;
    border-radius: 10px;
    color: #fff;
    padding: 11px 67px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    cursor: pointer;
}

.send:hover {
    background-color: #fff;
    border: #fff solid 1px;
    color: #f00;
}

.commentContainer {
    margin: 30px;
    display: flex;
    flex-flow: column wrap;
    gap: 30px;

    width: 80%;
}

.commentsInfo {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    border: 2px solid gold;
    padding: 30px;
    background: #1b1f24;
}

.commentsInfo img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.commentsInfo h3 {
    display: inline-block;
    color: gold;
    font-size: 25px;
    line-height: 50px;
    font-weight: 500;
}

.commentsInfo ul {
    padding: 0;
    margin: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.commentsInfo button {
    padding: 0 30px;
    background-color: gold;
    border-radius: 30px;
    cursor: pointer;
}

.commentsInfo p {
    font-size: 20px;
    padding: 30px;
    width: 500px;
}

.editComment:hover {
    background-color: #000000;
    border: #4dff00 solid 1px;
    color: rgb(6, 255, 35);
}

.deleteComment:hover {
    background-color: #030303;
    border: #ff0000 solid 1px;
    color: rgb(255, 0, 0);
}

.likeComment:hover {
    background-color: #000000;
    border: #0353ff solid 1px;
    color: rgb(0, 68, 255);
}