/* Game Info Plus Comment Textarea */
.commentsInfo {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    border: 2px solid gold;
    border-radius: 10px;
    background-color: rgba(113, 113, 113, 0.446);
    padding: 2rem;
    margin: 7rem 20rem 5rem 20rem;
}

.gameInformation {
    display: flex;
    gap: 1rem;
}

.gameInformation img {
    border-radius: 10px;
}

.gameInformation span {
    color: white;
}

.gameInformation p {
    color: gold;
    font-size: 1.5rem;
    line-height: 1.5;
}

.commentForm {
    display: flex;
    align-items: center;
}

.commentForm textarea {
    margin: 0.8rem;
    max-width: 850px;
    min-width: 350px;
    max-height: 160px;
    min-height: 25px;

    border: 3px solid gold;
    background-color: whitesmoke;
}

.send {
    font-size: 1rem;
    border: #ffffff solid 2px;
    background-color: #ff0303;
    border-radius: 50px;
    color: #fff;
    padding: 2rem 1.5rem;
}

.send:hover {
    background-color: #fff;
    border: #ff0000 solid 2px;
    color: #f00;
}

/* Game Info Plus Comment Text Area  End*/

/* Sort Comments Btn */

    .sortByBtn {
        font-size: 1.4rem;
        text-decoration: underline;
        border: none;
        outline: none;
        margin: 0 1rem;
        color: gold;
        background-color: rgba(255, 2, 2, 0);
    }

    .sortByBtn:hover {
        color: whitesmoke;
    }

/* Sort Comments Btn End */

/* Comments */

.commentContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;

    margin: 0 10rem 10rem 10rem ;
}

.comment {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    border: 2px solid gold;
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 0.084);
    width: 600px;
}

.userSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.user {
    margin-top: 1rem;
   text-align: center;
}

.userSection li {
    display: inline-block;
    list-style: none;
    padding: 0.2rem;
}

.userSection img {
    border: 2px solid gold;
    border-radius: 50px;
}

.username {
    margin: 0;
    color: gold;
    font-size: 1.4rem;
    font-weight: bold;
}

.userSection button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: gold;
    border-radius: 30px;
}

.editComment:hover {
    border: green solid 2px;
    color: green;
}

.deleteComment:hover {
    border: red solid 2px;
    color:red;
}

.likeComment:hover {
    border: #0353ff solid 2px;
    color: rgb(0, 68, 255);
}

.commentMessage {
    width: inherit;
    border-top: 1px solid whitesmoke;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(78, 78, 78, 0.697);
}

.commentMessage p {
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 0 3rem;
    overflow-wrap: break-word;
}

/* Comments End */

/* Go back to details page button */

.gameDetailsLinkIcon i {
    color: rgba(255, 248, 248, 0.79);
    position: sticky;
    font-size: 2.5rem;
    top: 7rem;
}