.ups {
    margin-top: 15rem;
    text-align: center;
}

.ups h2 {
    margin: 6rem;
    font-weight: 500;
    line-height: 10px;
    font-size: 200px;
}

.ups img {
    width: 30%;
    height: auto;
    border-radius: 100%;
    border: 4px white solid;
}

.ups h3 {
    font-weight: 100;
    font-size: 70px;
}

.ups p {
    font-size: 2rem;
    font-style: italic;
}

.ups a {
    color: red;
}