h1 {
    font-family: "Agency FB";
    line-height: 1.5;
    font-size: 100px;
    text-align: center;
    color: gold;
    margin-top: 80px;
}

.home {
    padding: 40px;
    height: 100vh;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 80px;
}

.home img {
   width: 700px;
   height: 450px;
}

.home p {
    font-size: 55px;
    width: 600px;
    text-align: center;
}