header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navBar button {
    border: none;
    background-color: transparent;
}

.navUserImg {
    border-radius: 50px;
    border: 2px solid gold;
}

.navSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    background-color: #1e293b;
    padding: 0 2em;
    height: inherit;
}

.headline {
    font-size: 3rem;
}

.navLink {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.navLink:hover {
    color: red;
}

.navMiniSection {
    text-align: center;
    margin: 0;
}

/* Drop Menu Start */

.dropMenu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    float: left;
    list-style: none;
    min-width: 10rem;
    margin: 0.11rem -4rem;
    padding: 0;
    border-radius: 10px;
    background-color: #1e293b;
}

.dropMenu li:last-child {
    background-color: rgba(0, 0, 0, 0.451);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropMenu li {
    padding: 0.5rem;
}

/* Drop Menu End */