header {
    z-index: 1;
}

.navSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 5rem;
    background-color: #1e293b;
}

.navSection h1 {
    font-size: 3rem;
    margin: 0;
}

.navIcon {
    display: inline-block;
    padding-left: 2rem;
}

.navLink {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.navLink:hover {
    color: red;
}

.navMiniSection {
    text-align: center;
    margin: 0;
}
