.header {
    position: absolute;
    z-index: 999;
    width: 100%;
    padding: 40px 40px 40px 40px;
    display:-ms-flexbox;
    display:flex;-ms-flex-wrap:wrap;
    flex-wrap:wrap;margin-right:-15px;
    margin-left:-15px
}

.navigation {
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
    top: 0;
}

.navigation a {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 40px;
    float: left;
}

.navigation ul {
    float: right;
}

.navigation li {
    display: inline-block;
}

.navigation li a {
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    padding: 0px 20px;
}

.buttonLogin {
    padding: 4px 12px;
    border-radius: 5px;
}

.buttonLogin:hover {
    background-color: #ff0000;
}

.buttonRegister {
    padding: 4px 12px;
    border-radius: 5px;
}

.buttonRegister:hover {
    background-color: #ff0202;
}

.buttonCatalog {
    padding: 4px 12px;
    border-radius: 5px;
    
}

.buttonCatalog:hover {
    background-color: #ff0000;
}

.buttonCreate {
    padding: 4px 12px;
    border-radius: 5px;
}

.buttonCreate:hover {
    background-color: #ff0606;
}

.buttonLogout {
    padding: 4px 12px;
    border-radius: 5px;
}

.buttonLogout:hover {
    background-color: #ff0000;
}

.buttonProfile {
    padding: 4px 12px;
    border-radius: 5px;
}

.buttonProfile:hover {
    background-color: #ff0606;
}